node_modules
mix-manifest.json
/public/hot
/public/storage
/storage/*.key
/vendor

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# OS FILES
.DS_Store

# DATABASE SEEDING
**/seeds/SettingsTableSeeder.php
**/seeds/TranslationsTableSeeder.php
**/seeds/VoyagerDatabaseSeeder.php
**/seeds/VoyagerDummyDatabaseSeeder.php



# PUBLIC FILES DON'T NEED TO BE TRACKED
/public/**/**
!/public/.htaccess
!/public/index.php
!/public/robots.txt

#LARAVEL SPECIFIC FILES UNNEEDED
/resources/js
/resources/sass
/resources/lang
